/* USE CSS LAYOUTS HERE */

.header {
    grid-column-start: 3;
}

h1 {
    padding: 10px;
}

ul {
    list-style-type: none;
    margin: 20px;
    padding: 20px;
    overflow: hidden;
    background-color: rgb(202, 31, 31);
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}


.main {
    display: grid;
    height: 50%;
    grid-column-start: 2;
}

img {
    width: 50%;
    height: 50vh;
}

.footer-grid {
    background-color: black;
    color: red;
    text-align: center;
    height: 10vh;
    position: sticky;
    bottom: 0;

}

